<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
        colors="true"
        stderr="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        bootstrap="tests/bootstrap.php"
        verbose="true"
>
    <php>
        <ini name="error_reporting" value="-1" />

        <const name="CACHE_ENABLED" value="true" />
        <const name="LOGGING_ENABLED" value="false" />

        <const name="SELLSY_CONSUMER_TOKEN" value="" />
        <const name="SELLSY_CONSUMER_SECRET" value="" />
        <const name="SELLSY_USER_TOKEN" value="" />
        <const name="SELLSY_USER_SECRET" value="" />

        <const name="CATALOGUE_ITEM_ID" value="1825031" />

        <const name="ANNOTATIONS_SEARCH_TYPE" value="document" />
        <const name="ANNOTATIONS_SEARCH_ID" value="2782598" />

        <const name="DOCUMENT_ESTIMATE_ID" value="3526891" />
        <const name="DOCUMENT_INVOICE_ID" value="3259256" />
        <const name="DOCUMENT_ORDER_ID" value="3555350" />
        <const name="DOCUMENT_PROFORMA_ID" value="3401558" />
        <const name="DOCUMENT_DELIVERY_ID" value="3558520" />
    </php>

    <testsuites>
        <testsuite name="Api">
            <directory>./tests/Api/</directory>

            <testsuite name="Api_Generic">
                <directory>./tests/Api/Generic</directory>
            </testsuite>
            <testsuite name="Api_Catalogue">
                <directory>./tests/Api/Catalogue</directory>
            </testsuite>
            <testsuite name="Api_Documents">
                <directory>./tests/Api/Documents</directory>
            </testsuite>
            <testsuite name="Api_Clients">
                <directory>./tests/Api/Clients</directory>
            </testsuite>
            <testsuite name="Api_Annotations">
                <directory>./tests/Api/Annotations</directory>
            </testsuite>
            <testsuite name="Api_Staffs">
                <directory>./tests/Api/Staffs</directory>
            </testsuite>
        </testsuite>

        <testsuite name="Criteria">
            <directory>./tests/Criteria/Documents</directory>

            <testsuite name="Criteria_Documents">
                <directory>./tests/Criteria/Documents</directory>
            </testsuite>
        </testsuite>
    </testsuites>
</phpunit>
