<?php

namespace Sellsy\Tests;

/**
 * Class Credentials
 * @package Sellsy\Tests
 */
class Credentials
{
    /**
     * @var string
     */
    public static $consumerToken = "";

    /**
     * @var string
     */
    public static $consumerSecret = "";

    /**
     * @var string
     */
    public static $userToken = "";

    /**
     * @var string
     */
    public static $userSecret = "";
}
