<?php

namespace Sellsy\Tests\Fixtures;

/**
 * Class Catalogue
 * @package Sellsy\Tests\Fixtures
 */
class Catalogue
{
    /**
     * @var int
     */
    public static $catalogueItem = 314159265359;
}
